.note {
	position: relative;
	background-color: transparent;
  border: 1px solid #000;;
	border-radius: 10px;
	padding: 1rem;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;

  &__text {
    border: 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
